*{ 
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
ul{
    list-style:none ;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.container img{
    width: 250px;
}

.btn-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-header input {
    padding: 5px 10px;
    width: 270px;
}

.btn-header button {
    margin-left: -60px;
    border: none;
    background-color: #3E3E3E;
    padding: 3px 5px;
    border-radius: 6px;
    color: #fff;
}

.navegacao {
    background-color: #000d85; 
}
.navegacao nav ul{
   display: flex; 
    justify-content: end;
    gap: 80px;
    padding: 15px;
}
.item a{
    color: #fff;
    font-size: 25px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.img-sinais {
    max-width: 100%;
    width: 97%;
}

.title {
    display: flex;
    gap: 10px;
}


.img::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 65px;
    background-color: #000d85;
}

.title h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 15px;
}

.paragrafos {
    max-width: 1200px;
    font-size: 25px;
}
.lista{
    display: flex;
    max-width: 1200px;
    padding-left: 30px;
    margin-top: 80px;
}
.lista ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
}
.lista img{
    width: 320px;
    height: 280px;
}
.ultimoparagrafo{
    max-width:1200px;
    font-size: 25px;
    margin-top: 80px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #03009F;
    color: #DCDCDC;
    padding: 5px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.img img{
    width: 330px;
}

.info p {
    margin-top: 10px;
}

.letra-info {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.info-alunos {
    display: flex;
    flex-direction: column;
}

.alunos {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.info-aplica p{
    margin-bottom: 20px;
    margin-top: 1cqi;
}

.linha-azul {
    background-color: #02006C;
    height: 30px;
    width: 100%;
}

.tmn-alunos::before {
    content: "";
    height: 2px;
    width: 28%;
    background: white;
    position: absolute;
}

.tmn-gestao::before {
    content: "";
    height: 2px;
    width: 300px;
    background: white;
    position: absolute;
}

.tmn-aplica::before {
    content: "";
    height: 2px;
    width: 130px;
    background: white;
    position: absolute;
    margin-top: -15px;
}

